@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --transparent: 0deg 0% 100% / 8%;
    --transparent-foreground: 0 0% 98%;

    --primary: 240 10% 3.9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 48.89 94.41% 71.96%;
    --secondary-foreground: 240 10% 3.9%;

    --lightGreen: 160 16.36% 89.22%;
    --green: 162.16 33.94% 78.63%;
    --darkGreen: 161.92 59.35% 24.12%;

    --lightPurple: 226.83 46.07% 82.55%;
    --darkPurple: 248.28 77.53% 63.33%;

    --grey: 207.69 19.4% 13.14%;
    --yellow: 48.89 94.41% 71.96%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "roobert";
  src: url("../fonts/roobert/RoobertRegular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "roobert";
  src: url("../fonts/roobert/RoobertMedium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "roobert";
  src: url("../fonts/roobert/RoobertSemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "roobert";
  src: url("../fonts/roobert/RoobertBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "clashdisplay";
  src: url("../fonts/clashdisplay/ClashDisplay-Bold.woff2");
  font-weight: 700;
}

.hero {
  background-image: url("../images/hero-background.png");
  background-position: 50%;
  background-repeat: repeat;
  background-size: contain;
  background-attachment: scroll;
}

.hover-arrow:hover .arrow-icon {
  transform: translate(10px, -10px);
  transition: transform 0.3s ease-in-out;
}

.arrow-icon {
  transition: transform 0.3s ease-in-out;
}
